<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <h1>User's Name</h1>
  <h2>To Do's</h2>

  <form method=“post” action=“/search”>

    <label for=“todo”></label>
    <input placeholder="what are you thinking?" name=“title” id=“todo></input>


    <div class=“bottom-of-form”>
      <button type=“submit”>Categorize</button>
    </div>
  </form>

  <div class="categories">
    <div class='toWatch'>
      <h3>To Watch</h3>
      <ul id='toWatch'>
        <li></li>
      </ul>
    </div>

    <div class='toRead'>
      <h3>To Read</h3>
      <ul id='toRead'>
        <li></li>
      </ul>
    </div>

    <div class="toEat">
      <h3>To Eat</h3>
      <ul id='toEat'>
        <li></li>
      </ul>
    </div>

    <div class='toBuy'>
      <h3>To Buy</h3>
      <ul id='toBuy'>
        <li></li>
      </ul>
    </div>

  </div>



</body>

</html>