::selection {
  color: cyan;
  background: yellow;
}

a{
  text-decoration: none;
  transition: 200ms;
}

a:hover{
  color: cyan;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2em;
  font-family: "Sora", sans-serif;
  background-color: #f8dd74;
}

.navbar-brand {
  font-family: "Bungee Inline", cursive;
  font-size: 2em;
  color: #d342c3;
}
.nav {
  display: flex;
  justify-content: space-between;
}
nav {
  width: 100%;
}
h1 h2 {
  text-align: center;
}
.categories {
  display: flex;
  justify-content: space-around;
  width: 100%;

  form {
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  button {
    padding: 0;
    border: none;
    background: none;
    font-size: 14px;
  }
}
input {
  margin-right: 1em;
}
form {
  display: flex;
  margin-bottom: 4em;
}

.task {
  width: 33%;
}

.container {
  width: 95%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1em;
  box-shadow: #ebc120 1px 1px 7px 0px;
  transition: 200ms;
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  i {
    margin: 5px;
  }
}

.edit {
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: baseline;
  transition: 200ms;
  cursor: pointer;
}
hr {
  margin-bottom: 0px;
}
.user-info {
  color: #d342c3;
  font-size: 2em;
  font-family: "Bungee Inline", cursive;
}

.edit:hover {
  color: lightseagreen;
}

i {
  cursor: pointer;
  transition: 200ms;
}

i:hover {
  color:cyan;
}

.fas {
  color: #d342c3;
}

.fa-times {
  color: black;
  transition: 200ms;
}

.fa-times:hover {
  color: firebrick;
}

.clicked {
  color: white;
  background-color: #f2cf4c6e;
  box-shadow: #ebc120 1px 1px 7px 0px;
  .main{
    color: cyan;
  }
  i {
    color: white;
  }
  i:hover{
    color: cyan;
  }
  .fa-times {
    color: white;
  }
  hr {
    border-color: white;
  }
}
