$secondaryColor: #00d3d3;

::selection {
  color: $secondaryColor;
  background: yellow;
}

h1 {
  margin-right: 10px;
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  transition: 200ms;
}

a:hover {
  color: $secondaryColor;
}

nav {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2em;
  font-family: "Sora", sans-serif;
  background-color: #f8dd74;
}

img {
  width: auto;
  height: 100%;
  max-width: 100%;
}

hr {
  margin-bottom: 0px;
}

input {
  margin-right: 1em;
}

form {
  display: flex;
  margin-bottom: 4em;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-brand {
  font-family: "Bungee Inline", cursive;
  font-size: 2em;
  color: #d342c3;
}

.categories {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;

  form {
    margin-bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  button {
    padding: 0;
    border: none;
    background: none;
    font-size: 14px;
  }
}

.task {
  width: 33%;
}

.container {
  width: 95%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1em;
  box-shadow: #ebc120 1px 1px 7px 0px;
  transition: 200ms;
  header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  i {
    margin: 5px;
  }
}

.edit {
  display: flex;
  justify-content: center;
  font-size: 12px;
  align-items: baseline;
  transition: 200ms;
  cursor: pointer;
  :hover {
    color: lightseagreen;
  }
}

.user-info {
  color: #d342c3;
  font-size: 2em;
  font-family: "Bungee Inline", cursive;
}

.main {
  cursor: pointer;
  transition: 200ms;
  :hover {
    color: $secondaryColor;
  }
}

.fas {
  color: #d342c3;
}

.fa-times {
  color: black;
  transition: 200ms;
  :hover {
    color: firebrick;
  }
}

.clicked {
  color: white;
  background-color: #ff329a;
  box-shadow: #ebc120 1px 1px 7px 0px;
  .main {
    color: $secondaryColor;
  }
  i {
    color: white;
  }
  i:hover {
    color: $secondaryColor;
  }
  .fa-times {
    color: white;
  }
  hr {
    border-color: white;
  }
}

.btn {
  background-color: #d342c3;
  margin-right: 1em;
  padding: 10px;
  display: flex;
  transition: 200ms;
  justify-content: center;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: $secondaryColor;
}

.title {
  cursor: pointer;
}

.title:hover{
  color: $secondaryColor;
}

.titles {
  margin-right: 10px;
}

.switch-category {
  button {
    i:hover {
      color: $secondaryColor;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 768px) {
  .categories{
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .container{
    width: 100%;
  }
  .task {
    width: 100%;
  }

}